@import "fonts";
@import "grid";

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: $base_font_family;
  font-size: 19px;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $accent_color;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

button, input[type="button"] {
  cursor: pointer;
  border: none;
}

.container {
  @include make-container();
  @include make-max-width-container();
}

//.col {
//  background-color: #eeeeee;
//  border: 1px solid #aaa;
//}

.make-row {
  @include make-row();
  --bs-gutter-y: 1rem;
  & > *  {
    @include make-col-ready();
  }
}

// mixin media-breakpoint-up() - mobile first
// mixin media-breakpoint-down() - desktop first

.block {
  padding: 20px;
  height: 100%;
  background-color: #dddddd;
  border: 1px solid #aaa;
  text-align: center;
}

.header {
  @extend .make-row;
  min-height: 90px;
  margin-bottom: 130px;

  @include media-breakpoint-up(md) {
    &__logo {
      @include make-col(3);
    }
    &__nav {
      @include make-col(9);
    }
  }
}

.promo {
  @extend .make-row;
  min-height: 460px;
  margin-bottom: 110px;
  &__item {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }
}

.clients {
  @extend .make-row;
  min-height: 80px;
  margin-bottom: 170px;
  &__item {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2);
    }
  }
}

.pricing {
  @extend .make-row;
  min-height: 480px;
  margin-bottom: 235px;
  &__item {
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
}
.team {
  @extend .make-row;
  min-height: 360px;
  margin-bottom: 180px;
  &__item {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
  }
}
.footer {
  @extend .make-row;
  min-height: 380px;
  &__social {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }
  &__contact {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }
  }
  &__form {
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
  }
}