extends layout/app

block styles
    link(rel="stylesheet", href="css/libs/libs.min.css")
block page
    include sections/s-main

block script
    script(src="js/libs/jquery.min.js")
    script(src="js/libs/libs.min.js")
    script(src="js/main.js")